@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
#reset {
    display: none;
}

body {
    background-image: url('./Images/low-poly-grid-haikei.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Caveat', cursive;
}
.main {
    padding-top: 20px;
    width: 100vw;
    margin: 0px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 20px;
    width: 350px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.playerScore, .computerScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plyrscore, #computerScore {
    text-decoration: underline;
}


.computerCount, .playerCount {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.25rem;
    
}

#playerChoice {
    display: flex;
    justify-content: space-around;
    padding: 0px 300px;
    margin-top: 30px;
}

.result {
    display: none;
    text-shadow: black 0.5px .5px 1px;
    box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
    font-size: 1.25em;
    padding: 5px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;

}

button{
    cursor: pointer;
    border: none;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 1.25rem;
    transition: .5s;
    width: 100%;
    margin: 10px;
}

button:hover {
    background-color: blueviolet;
    color: white;
}













